@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Oswald";
        src: url("../public/fonts/Oswald-Medium.ttf") format('woff2');
        font-weight: 500;
        font-display: swap;
        font-style: normal;
    },
    @font-face {
        font-family: "Eurostile";
        src: url("../public/fonts/EurostileBold.ttf") format('woff2');
        font-weight: 500;
        font-display: swap;
        font-style: normal;
    }

    
}


.bgmesh {
    background-color: rgb(75, 85, 99);
    background-image: radial-gradient(at 40% 19%, rgb(165, 180, 252) 0, transparent 65%), radial-gradient(at 43% 14%, rgb(214, 211, 209) 0, transparent 35%), radial-gradient(at 73% 83%, rgb(253, 244, 255) 0, transparent 79%), radial-gradient(at 84% 25%, rgb(113, 113, 122) 0, transparent 62%);
  
}

.bgmeshdark {
    background-color: hsla(0,0%,0%,1);
    background-image: radial-gradient(at 2% 4%, hsla(149,88%,70%,0.14) 0px, transparent 50%),
    radial-gradient(at 4% 49%, hsla(340,73%,69%,0.18) 0px, transparent 50%),
    radial-gradient(at 40% 87%, hsla(340,73%,69%,0.23) 0px, transparent 50%),
    radial-gradient(at 100% 88%, hsla(211,76%,69%,0.42) 0px, transparent 50%),
    radial-gradient(at 40% 20%, hsla(34,77%,69%,0.29) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(78,73%,69%,0.32) 0px, transparent 50%);
}

.n-down {
   
    border-radius: 51px;
    background: #e0e0e0;
    box-shadow: inset 5px 5px 13px #bebebe,
                inset -5px -5px 13px #ffffff;
}

.fade-image {
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 30%, transparent 100%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 50%, transparent 100%);
  }